{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
      
    
        <section class="home">
 <h1>Preparez vos Courses</h1><br>
    <p>Bienvenue dans notre boutique</p>
        <section>
{% endblock %}
