
{% block body %}
{# <style>
.footer {
  position: fixed;
    margin-left:10%;
  bottom: 0;
  width: 100%;
 
  background-color: white;
  color: white;}

p{
    color: black; 
     text-align: center;
}

</style>

<div class="footer">
  <p>Footer</p>
</div> #}
{% endblock %}