{% extends 'base.html.twig' %}

{% block title %}New Departement{% endblock %}

{% block body %}
<section class="container-form">
    <h1>Création d'un Departement</h1>

    {{ include('departement/_form.html.twig') }}

    <a href="{{ path('app_departement_index') }}">retour a la liste des departements</a>
    </section>
{% endblock %}
