{% extends 'base.html.twig' %}

{% block title %}Hello Final List {% endblock %}

{% block body %}
<section class="container-form">
<h4> liste des courses  {{nom}}</h4>

<p>---------------------------------------------</p>


<div style="display:flex; flex-direction:row; align-item:left; justify-content:space-around; "> 

          <div style="; margin-right:20%; width:20em;"> 
           {% for item in list_Produit %}
               <p> - Produit : {{item}}</p>
            {% endfor %}
            </div>

            <div style="; margin-left:20%; width:10em;">
            {% for item in qte_Produit %}
               <p> quantité: {{item}}</p>
            {% endfor %}
            </div> 

</div>
<p>---------------------------------------------</p>
<button class="btn btn-link"> <a style="color:black;" href="{{path("app_data_course",{nom: nom})}}"> télecharger ces données </a></button>
</section>







{% endblock %}