{% extends "/list_produit/base_pdf.html.twig" %}
 {% block body %}
 
<h4> liste des courses  {{nom}}</h4>

   <div style="display:flex; flex-direction:row; align-item:center; justify-content:space-around;"> 
           <div> 
           {% for item in list_Produit %}
               <p>{{item}}</p>
            {% endfor %}
            </div>

            <div>
            {% for item in qte_Produit %}
               <p>{{item}}</p>
            {% endfor %}
            </div>

</div>
 {% endblock %}