{{ form_start(form) }}
<label for="inputtext">le nom de la categorie</label>
    {{ form_widget(form) }}
    <button class="btn btn-form">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
