{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}



{% block body %}




<section
		class="container-form">
 <div>
    <h1>Region index</h1>
     <a href="{{ path('app_region_new') }}">Creer une nouvelle region</a> <br>
     <a href="{{ path('app_gestion') }}"> voir le dashboard</a>
    
    
    </div>
<div>
    <table id="table"style="height:20px; overflow:scroll; ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
          
            </tr>
        </thead>
        <tbody >
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.nom }}</td>
            
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de region</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

   
    </section>
{% endblock %}
